<div class="center hero-unit">
  <h1>KCG </h1>

  <h4>
    An internal web application
  </h4>

  <p><%= link_to "Are you New?!! Create Account", signup_path %></p>
  <p><%= link_to "Exinsting?!!  Enter Application", signup_path %></p>

</div>
